数据属性规约与变换

**Python核心技术**

① Pandas模块 数据切片 实现

② Pandas模块 CSV数据文件读写操作

**编程思路**

STEP1：读取原始样本csv数据；

STEP2：根据要求 获取 样本数据中的指定字段数据集

In [1]:
import pandas as pd
import os
csvFile='./out'+os.sep+'data_cleaned.csv'
data = pd.read_csv(csvFile,encoding='utf-8')
# 测试 输出数据的基本信息
print(data.info)

<bound method DataFrame.info of        Unnamed: 0  MEMBER_NO    FFP_DATE FIRST_FLIGHT_DATE GENDER  FFP_TIER  \
0               0      54993  2006/11/02        2008/12/24      男         6
1               1      28065  2007/02/19        2007/08/03      男         6
2               2      55106  2007/02/01        2007/08/30      男         6
3               3      21189  2008/08/22        2008/08/23      男         5
4               4      39546  2009/04/10        2009/04/15      男         6
...           ...        ...         ...               ...    ...       ...
62039       62974      11163  2005/05/08        2005/08/26      男         4
62040       62975      30765  2008/11/16        2013/11/30      男         4
62041       62976      10380  2010/07/08        2011/06/21      男         4
62042       62977      16372  2012/12/20        2012/12/20      男         4
62043       62978      22761  2011/04/14        2011/04/14      男         4

         WORK_CITY WORK_PROVINCE WORK_COUNTRY   AGE  ... ADD_Point_SUM  \
0                .            北京           CN  31.0  ...         39992
1              NaN            北京           CN  42.0  ...         12000
2                .            北京           CN  40.0  ...         15491
3      Los Angeles            CA           US  64.0  ...             0
4               贵阳            贵州           CN  48.0  ...         22704
...            ...           ...          ...   ...  ...           ...
62039          NaN           NaN           CN  34.0  ...           500
62040       TAIPEI           NaN           TW  38.0  ...             0
62041          贵阳市           贵州省           CN  33.0  ...             0
62042           桃园           NaN           TW  47.0  ...             0
62043           汕头           广东省           CN  48.0  ...             0

       Eli_Add_Point_Sum  L1Y_ELi_Add_Points  Points_Sum  L1Y_Points_Sum  \
0                 114452              111100      619760          370211
1                  53288               53288      415768          238410
2                  55202               51711      406361          233798
3                  34890               34890      372204          186100
4                  64969               64969      338813          210365
...                  ...                 ...         ...             ...
62039                500                 500         900             900
62040                  0                   0         400             400
62041                  0                   0         213               0
62042                  0                   0           0               0
62043                  0                   0           0               0

       Ration_L1Y_Flight_Count  Ration_P1Y_Flight_Count  Ration_P1Y_BPS  \
0                     0.509524                 0.490476        0.487221
1                     0.514286                 0.485714        0.489289
2                     0.518519                 0.481481        0.481467
3                     0.434783                 0.565217        0.551722
4                     0.532895                 0.467105        0.469054
...                        ...                      ...             ...
62039                 1.000000                 0.000000        0.000000
62040                 1.000000                 0.000000        0.000000
62041                 0.500000                 0.500000        0.995327
62042                 0.000000                 1.000000        0.000000
62043                 1.000000                 0.000000        0.000000

       Ration_L1Y_BPS Point_NotFlight
0            0.512777              50
1            0.510708              33
2            0.518530              26
3            0.448275              12
4            0.530943              39
...               ...             ...
62039        0.997506               1
62040        0.997506               0
62041        0.000000               1
62042        0.000000               0
62043        0.000000               0

[62044 rows x 45 columns]>

首先，筛选出所需的核心属性字段数据集

In [2]:
data = data[['FFP_DATE','LOAD_TIME','FLIGHT_COUNT','avg_discount','SEG_KM_SUM','LAST_TO_END']]
# 测试输出
print('\n>>>测试输出核心属性字段数据集：')
print(data)

>>>测试输出核心属性字段数据集：
         FFP_DATE   LOAD_TIME  FLIGHT_COUNT  avg_discount  SEG_KM_SUM  \
0      2006/11/02  2014/03/31           210      0.961639      580717
1      2007/02/19  2014/03/31           140      1.252314      293678
2      2007/02/01  2014/03/31           135      1.254676      283712
3      2008/08/22  2014/03/31            23      1.090870      281336
4      2009/04/10  2014/03/31           152      0.970658      309928
...           ...         ...           ...           ...         ...
62039  2005/05/08  2014/03/31             2      0.710000         368
62040  2008/11/16  2014/03/31             2      0.670000         368
62041  2010/07/08  2014/03/31             2      0.225000        1062
62042  2012/12/20  2014/03/31             2      0.250000         904
62043  2011/04/14  2014/03/31             2      0.280000         760

       LAST_TO_END
0                1
1                7
2               11
3               97
4                5
...            ...
62039           89
62040          121
62041           39
62042          464
62043          282

[62044 rows x 6 columns]

按照性质要求生成新的属性

In [3]:
data['L'] = (pd.to_datetime(data['LOAD_TIME']) - pd.to_datetime(data['FFP_DATE']))/30 #将时间转换成月数
data['R'] = data['LAST_TO_END']/30
data['F'] = data['FLIGHT_COUNT']
data['M'] = data['SEG_KM_SUM']
data['C'] = data['avg_discount']
# 筛选出所需的维度指标
data = data[['L','R','F','M','C']]
# 测试
print(data.head())

                 L         R    F       M         C
0 90 days 04:48:00  0.033333  210  580717  0.961639
1 86 days 13:36:00  0.233333  140  293678  1.252314
2 87 days 04:00:00  0.366667  135  283712  1.254676
3 68 days 05:36:00  3.233333   23  281336  1.090870
4 60 days 12:48:00  0.166667  152  309928  0.970658

存一个新的文件，完成数据规约的操作

In [4]:
csvFile = os.getcwd() + os.sep + 'out' + os.sep + 'data_reduction.csv'
data.to_csv(csvFile,encoding='utf_8_sig')
print('\n 数据文件存入成功')

 数据文件存入成功

接下来，进行数据标准化，为了后边更好的聚类

采用的方法是：z-score标准化,选择合适的标准化方法

In [5]:
# axis 表示按列(0)或者按行(1)进行计算
data = (data - data.mean(axis=0)) / data.std(axis=0)
# 采用列表推导式，进行统一推导
data.columns = ['Z' + i for i in data.columns]
print(data.head())

         ZL        ZR         ZF         ZM        ZC
0  1.435707 -0.944948  14.034016  26.761154   1.29554
1  1.307152 -0.911894   9.073213  13.126864  2.868176
2  1.328381 -0.889859   8.718869  12.653481   2.88095
3  0.658476 -0.416098   0.781585  12.540622  1.994714
4  0.386032 -0.922912   9.923636  13.898736  1.344335

In [6]:
csvFile = os.getcwd() + os.sep + 'out' + os.sep + 'data_zscore.csv'
data.to_csv(csvFile,encoding='utf_8_sig')
print('\n 数据文件存入成功')

 数据文件存入成功