实现数据的清洗（以删除为主）

**Python核心技术**

① Pandas模块 数据筛选 实现

② Pandas模块 CSV数据文件读写操作

**编程思路**

STEP1：读取原始样本csv数据；

STEP2：根据标准要求设置数据筛选条件，并实现数据清洗操作

STEP3：将最终结果写入到 data_cleaned.csv 数据文件

In [6]:
import pandas as pd
import os
csvFile='./data'+os.sep+'air_data.csv'
data = pd.read_csv(csvFile,encoding='utf-8')
# 测试 输出数据的基本信息
print(data.info)

<bound method DataFrame.info of        MEMBER_NO    FFP_DATE FIRST_FLIGHT_DATE GENDER  FFP_TIER    WORK_CITY  \
0          54993  2006/11/02        2008/12/24      男         6            .
1          28065  2007/02/19        2007/08/03      男         6          NaN
2          55106  2007/02/01        2007/08/30      男         6            .
3          21189  2008/08/22        2008/08/23      男         5  Los Angeles
4          39546  2009/04/10        2009/04/15      男         6           贵阳
...          ...         ...               ...    ...       ...          ...
62983      18375  2011/05/20        2013/06/05      女         4           广州
62984      36041  2010/03/08        2013/09/14      男         4           佛山
62985      45690  2006/03/30        2006/12/02      女         4           广州
62986      61027  2013/02/06        2013/02/14      女         4           广州
62987      61340  2013/02/17        2013/02/17      女         4           上海

      WORK_PROVINCE WORK_COUNTRY   AGE   LOAD_TIME  ...  ADD_Point_SUM  \
0                北京           CN  31.0  2014/03/31  ...          39992
1                北京           CN  42.0  2014/03/31  ...          12000
2                北京           CN  40.0  2014/03/31  ...          15491
3                CA           US  64.0  2014/03/31  ...              0
4                贵州           CN  48.0  2014/03/31  ...          22704
...             ...          ...   ...         ...  ...            ...
62983            广东           CN  25.0  2014/03/31  ...          12318
62984            广东           CN  38.0  2014/03/31  ...         106972
62985            广东           CN  43.0  2014/03/31  ...              0
62986            广东           CN  36.0  2014/03/31  ...              0
62987             .           CN  29.0  2014/03/31  ...              0

       Eli_Add_Point_Sum  L1Y_ELi_Add_Points  Points_Sum  L1Y_Points_Sum  \
0                 114452              111100      619760          370211
1                  53288               53288      415768          238410
2                  55202               51711      406361          233798
3                  34890               34890      372204          186100
4                  64969               64969      338813          210365
...                  ...                 ...         ...             ...
62983              12318               12123       12318           12123
62984             106972               56506      106972           56506
62985                  0                   0           0               0
62986                  0                   0           0               0
62987                  0                   0           0               0

       Ration_L1Y_Flight_Count  Ration_P1Y_Flight_Count  Ration_P1Y_BPS  \
0                     0.509524                 0.490476        0.487221
1                     0.514286                 0.485714        0.489289
2                     0.518519                 0.481481        0.481467
3                     0.434783                 0.565217        0.551722
4                     0.532895                 0.467105        0.469054
...                        ...                      ...             ...
62983                 1.000000                 0.000000        0.000000
62984                 1.000000                 0.000000        0.000000
62985                 1.000000                 0.000000        0.000000
62986                 0.000000                 1.000000        0.000000
62987                 0.000000                 1.000000        0.000000

      Ration_L1Y_BPS  Point_NotFlight
0           0.512777               50
1           0.510708               33
2           0.518530               26
3           0.448275               12
4           0.530943               39
...              ...              ...
62983       0.000000               22
62984       0.000000               43
62985       0.000000                0
62986       0.000000                0
62987       0.000000                0

[62988 rows x 44 columns]>

 筛选SUM_YR_1和SUM_YR_2字段不为空的数据行（保留）

In [9]:
data = data[data['SUM_YR_1'].notnull() & data['SUM_YR_2'].notnull()]
# 测试
print('\n>>>根据以及条件进行筛选后的数据为：')
print(data.info())

>>>根据以及条件进行筛选后的数据为：
<class 'pandas.core.frame.DataFrame'>
Int64Index: 62299 entries, 0 to 62986
Data columns (total 44 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   MEMBER_NO                62299 non-null  int64
 1   FFP_DATE                 62299 non-null  object
 2   FIRST_FLIGHT_DATE        62299 non-null  object
 3   GENDER                   62296 non-null  object
 4   FFP_TIER                 62299 non-null  int64
 5   WORK_CITY                60043 non-null  object
 6   WORK_PROVINCE            59075 non-null  object
 7   WORK_COUNTRY             62273 non-null  object
 8   AGE                      61884 non-null  float64
 9   LOAD_TIME                62299 non-null  object
 10  FLIGHT_COUNT             62299 non-null  int64
 11  BP_SUM                   62299 non-null  int64
 12  EP_SUM_YR_1              62299 non-null  int64
 13  EP_SUM_YR_2              62299 non-null  int64
 14  SUM_YR_1                 62299 non-null  float64
 15  SUM_YR_2                 62299 non-null  float64
 16  SEG_KM_SUM               62299 non-null  int64
 17  WEIGHTED_SEG_KM          62299 non-null  float64
 18  LAST_FLIGHT_DATE         62299 non-null  object
 19  AVG_FLIGHT_COUNT         62299 non-null  float64
 20  AVG_BP_SUM               62299 non-null  float64
 21  BEGIN_TO_FIRST           62299 non-null  int64
 22  LAST_TO_END              62299 non-null  int64
 23  AVG_INTERVAL             62299 non-null  float64
 24  MAX_INTERVAL             62299 non-null  int64
 25  ADD_POINTS_SUM_YR_1      62299 non-null  int64
 26  ADD_POINTS_SUM_YR_2      62299 non-null  int64
 27  EXCHANGE_COUNT           62299 non-null  int64
 28  avg_discount             62299 non-null  float64
 29  P1Y_Flight_Count         62299 non-null  int64
 30  L1Y_Flight_Count         62299 non-null  int64
 31  P1Y_BP_SUM               62299 non-null  int64
 32  L1Y_BP_SUM               62299 non-null  int64
 33  EP_SUM                   62299 non-null  int64
 34  ADD_Point_SUM            62299 non-null  int64
 35  Eli_Add_Point_Sum        62299 non-null  int64
 36  L1Y_ELi_Add_Points       62299 non-null  int64
 37  Points_Sum               62299 non-null  int64
 38  L1Y_Points_Sum           62299 non-null  int64
 39  Ration_L1Y_Flight_Count  62299 non-null  float64
 40  Ration_P1Y_Flight_Count  62299 non-null  float64
 41  Ration_P1Y_BPS           62299 non-null  float64
 42  Ration_L1Y_BPS           62299 non-null  float64
 43  Point_NotFlight          62299 non-null  int64
dtypes: float64(12), int64(24), object(8)
memory usage: 21.4+ MB
None

继续设置筛选条件进行筛选，以保留代替筛选

In [15]:
condition1 = data['SUM_YR_1'] != 0
condition2 = data['SUM_YR_2'] != 0
# 保留设置总里程不为0和平均折扣率为0的筛选条件
condition3 = (data['SEG_KM_SUM'] != 0) & (data['avg_discount'] == 0)
data = data[condition1 | condition2 | condition3]
# 测试
print('\n>>>根据耳机条件进行筛选后的数据为：')
print(data.info())

>>>根据耳机条件进行筛选后的数据为：
<class 'pandas.core.frame.DataFrame'>
Int64Index: 62044 entries, 0 to 62978
Data columns (total 44 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   MEMBER_NO                62044 non-null  int64
 1   FFP_DATE                 62044 non-null  object
 2   FIRST_FLIGHT_DATE        62044 non-null  object
 3   GENDER                   62041 non-null  object
 4   FFP_TIER                 62044 non-null  int64
 5   WORK_CITY                59791 non-null  object
 6   WORK_PROVINCE            58831 non-null  object
 7   WORK_COUNTRY             62018 non-null  object
 8   AGE                      61632 non-null  float64
 9   LOAD_TIME                62044 non-null  object
 10  FLIGHT_COUNT             62044 non-null  int64
 11  BP_SUM                   62044 non-null  int64
 12  EP_SUM_YR_1              62044 non-null  int64
 13  EP_SUM_YR_2              62044 non-null  int64
 14  SUM_YR_1                 62044 non-null  float64
 15  SUM_YR_2                 62044 non-null  float64
 16  SEG_KM_SUM               62044 non-null  int64
 17  WEIGHTED_SEG_KM          62044 non-null  float64
 18  LAST_FLIGHT_DATE         62044 non-null  object
 19  AVG_FLIGHT_COUNT         62044 non-null  float64
 20  AVG_BP_SUM               62044 non-null  float64
 21  BEGIN_TO_FIRST           62044 non-null  int64
 22  LAST_TO_END              62044 non-null  int64
 23  AVG_INTERVAL             62044 non-null  float64
 24  MAX_INTERVAL             62044 non-null  int64
 25  ADD_POINTS_SUM_YR_1      62044 non-null  int64
 26  ADD_POINTS_SUM_YR_2      62044 non-null  int64
 27  EXCHANGE_COUNT           62044 non-null  int64
 28  avg_discount             62044 non-null  float64
 29  P1Y_Flight_Count         62044 non-null  int64
 30  L1Y_Flight_Count         62044 non-null  int64
 31  P1Y_BP_SUM               62044 non-null  int64
 32  L1Y_BP_SUM               62044 non-null  int64
 33  EP_SUM                   62044 non-null  int64
 34  ADD_Point_SUM            62044 non-null  int64
 35  Eli_Add_Point_Sum        62044 non-null  int64
 36  L1Y_ELi_Add_Points       62044 non-null  int64
 37  Points_Sum               62044 non-null  int64
 38  L1Y_Points_Sum           62044 non-null  int64
 39  Ration_L1Y_Flight_Count  62044 non-null  float64
 40  Ration_P1Y_Flight_Count  62044 non-null  float64
 41  Ration_P1Y_BPS           62044 non-null  float64
 42  Ration_L1Y_BPS           62044 non-null  float64
 43  Point_NotFlight          62044 non-null  int64
dtypes: float64(12), int64(24), object(8)
memory usage: 21.3+ MB
None

存一个新的csv文件，便于追溯过程

In [16]:
csvFile = os.getcwd() + os.sep + 'out' + os.sep + 'data_cleaned.csv'
data.to_csv(csvFile,encoding='utf_8_sig')
print('\n 数据文件存入成功')

 数据文件存入成功